{% extends 'Shop/base.html' %}
{% load static %}
{% load custom_filters %}

{% block title %}Reset Password{% endblock title %}

{% block main-content %}
<div class="container d-flex align-items-center justify-content-center" style="min-height: 80vh;">
    <div class="row w-100">
        <div class="col-sm-8 col-md-6 offset-md-3">
            <h3 class="text-center mb-4">Reset Password</h3>
            <hr>
            <form action="" method="post" novalidate class="shadow p-4 bg-light rounded">
                {% csrf_token %}
                {% for fm in form %}
                <div class="form-group mb-3">
                    {{ fm.label_tag }}
                    {{ fm|add_class:"form-control" }} <!-- Add Bootstrap class -->
                    <small class="text-danger">{{ fm.errors|striptags }}</small>
                </div>
                {% endfor %}
                <input type="submit" class="btn btn-primary w-100 mt-3" value="Submit">
                
                {% if form.non_field_errors %}
                <div class="alert alert-danger my-3">
                    {% for error in form.non_field_errors %}
                        <p>{{ error }}</p>
                    {% endfor %}
                </div>
                {% endif %}
            </form>
        </div>
    </div>
</div>
{% endblock main-content %}
