{% extends 'Shop/base.html' %}
{% load static %}
{% load custom_filters %}

{% block title %}Password Change{% endblock title %}

{% block main-content %}
<div class="container my-5">
    <div class="row">
        <div class="col-sm-12">
            
        </div>
        <div class="col-sm-2 profile-go border-end">
            <ul class="list-unstyled">
                <li class="d-grid">
                    <a href="{% url 'profile' %}" class="btn btn-primary">Go to Profile</a>
                </li>
            </ul>
        </div>
        <div class="col-sm-9 offset-sm-1">
            <h3 class="text-center mb-4">Change Password</h3>
            <hr>
            <form action="" method="post" novalidate class="shadow-sm p-4 bg-light rounded">
                {% csrf_token %}
                {% for fm in form %}
                <div class="form-group mb-3">
                    {{ fm.label_tag }} 
                    {{ fm|add_class:"form-control" }} <!-- Ensure add_class filter is available -->
                    <small class="text-danger">{{ fm.errors|striptags }}</small>
                </div>
                {% endfor %}
                
                <input type="submit" class="btn btn-primary w-100 mt-4" value="Save">

                {% if form.non_field_errors %}
                <div class="alert alert-danger mt-3">
                    {% for error in form.non_field_errors %}
                        <p>{{ error }}</p>
                    {% endfor %}
                </div>
                {% endif %}
                
            </form>
        </div>
    </div>
</div>

<style>

@media only screen and (max-width: 600px) {
  .profile-go{
    display: none;
  }
}

</style>
{% endblock main-content %}
